h1 {
    font-size: 50px;
    text-align: center;
  
}
h2 {
    font-size: 40px;
    font-weight: normal;
}

/* p {
    font-size: 30px;
    font-family: "Comic Sans MS";
    line-height: 1.5;
} 
*/

p {
    font: 13px/20px "Times New Roman";
}