h1 {
    text-align: right;
}
h2 {
    text-align:center;
    width: 300px;
}
table {
    width: 500px;
    height: 300px;
}
th {
    text-align: left;
    font-weight: normal;
}
td {
    text-align: center;
    font-weight: bold;
}
p {
    width: 300px;
    text-align: justify;
}
