h1 {
    width: 500px;
    text-align: center;
    color: blue;
    font-size: 40px;
}
h2 {
    width: 500px;
    text-align: center;
    color: green;
    font-weight: normal;
    font-size: 30px;
}
p {
    width: 500px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    text-indent: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    width: 400px;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}