p {
	color: orange;
    width: 300px;
}
h1 {
    color: green;
}
h2 {
    color: cyan;
}
h3 {
    color: red;
}
b {
	color: rgb(255, 236, 114);
}
i {
    color: #ff0000;
}
td {
	width: 400px;
	height: 300px;
}