h1 {
    font-size: 50px;
    text-align: center;
    text-decoration:line-through;
  
}
h2 {
    font-size: 40px;
    font-weight: normal;
    text-decoration: overline;
}

/* p {
    font-size: 30px;
    font-family: "Comic Sans MS";
    line-height: 1.5;
} 
*/

/* p {
    font: 13px/20px "Times New Roman";
} */

/* p {
    font: bold 40px Arial;
	width: 300px;
	color: red;
} */

p {
    font:  italic bold  40px/60px Arial;
	text-indent: 60px;
    text-decoration: underline;
}
li > b {
    color: red;
}
.eee {
	color: green;
}
.zzz {
	color: red;
}
.odd {
    color: red;
}
.eve {
	color: green;
}
.xxx {
    font-size: 30px;
}
.div1 {
	color: red;
}
.div2 {
    color: green;
}
.div3 {
	color:aqua;
}
.header {
	color: red;
}
h2.header{
    font-size: 40px;
}
h3.header{
    font-size: 30px;
}